<div class='vw-100 vh-100 d-flex align-items-center justify-content-center'>
  <span>
    <button type="button" class="btn btn-light pull-right">
      <a href="/covid_resources/es">en español</a>
    </button>
  </span>
  <h1>COVID Resources</h1>
  <p class='lead'>Youth and Community Resources during COVID-19 Social Distancing</p>
  <hr class='my-4' />
  <h4>Purpose Statement: <span>Our purpose is to compile a singular source of information for youth during the COVID-19 pandemic. We have included serious links to resources such as access to internet and financial assistance as well as fun links such as advice on ways to destress and ways to make quarantine a more fun experience. Choose a category below, and click on the picture to see all the resources! Additionally, there are specific sections for LGBTQ+ youth and youth in unsafe homes at the end of the page. Thanks! We sincerely hope this can help in as many ways as possible!</span></h4>
</div>
<div class="card-box">
    <div class="card link-card">
  <a href="/depressed_lonely_anxious">
      <%= image_tag("healthy_minds.png", class: "card-img-top" ) %>
      <p>Feeling depressed or lonely or anxious?</a>
  </a>
    </div>

  <a href="/entertainment_self">
    <div class="card link-card">
      <%= image_tag("learn_to_cook.png", class: "card-img-top" ) %>
      <p>Entertainment/Engaging Opportunities (By Yourself)</a>
    </div>
  </a>

  <a href="/entertainment_others">
    <div class="card link-card">
      <%= image_tag("virtual_karaoke_night.png", class: "card-img-top" ) %>
      <p>Entertainment/Engaging Opportunities (With Others)</a>
    </div>
  </a>

  <a href="/education">
    <div class="card link-card">
      <%= image_tag("mem_communiversity.jpg", class: "card-img-top" ) %>
      <p>Educational Resources</a>
    </div>
  </a>

  <a href="/legit_info">
    <div class="card link-card">
      <%= image_tag("medical_resources.jpg", class: "card-img-top" ) %>
      <p>Good Legit info on COVID-19</a>
    </div>
  </a>

  <a href="/activism">
    <div class="card link-card">
      <%= image_tag("music_export_memphis_relief_fund.png", class: "card-img-top" ) %>
      <p>Make a difference/Activism</a>
    </div>
  </a>

  <a href="/food_water">
    <div class="card link-card">
      <%= image_tag("901_Ummah.png", class: "card-img-top" ) %>
      <p>Food & Water</a>
    </div>
  </a>

  <a href="/internet_tech">
    <div class="card link-card">
      <%= image_tag("Free_Internet.png", class: "card-img-top" ) %>
      <p>Internet & Technology</a>
    </div>
  </a>

  <a href="/employment_money">
    <div class="card link-card">
      <%= image_tag("Fair_Wage_Emergency_Fund.png", class: "card-img-top" ) %>
      <p>Employment & Money</a>
    </div>
  </a>

  <a href="/spanish_resources">
    <div class="card link-card">
      <%= image_tag("Bilingual_Memphis.jpg", class: "card-img-top" ) %>
      <p>Resource Guides in Spanish</a>
    </div>
  </a>

  <a href="/undocumented_resources">
    <div class="card link-card">
      <%= image_tag("recursos_en_espanol.png", class: "card-img-top" ) %>
      <p>Resources for Undocumented People</a>
    </div>
  </a>

  <a href="/childcare">
    <div class="card link-card">
      <%= image_tag("Go_Noodle.png", class: "card-img-top" ) %>
      <p>Childcare Resources</a>
    </div>
  </a>

  <a href="/lgbt">
    <div class="card link-card">
      <%= image_tag("prysm_youth_group.jpg", class: "card-img-top" ) %>
      <p>LGBTQ+ Resources</a>
    </div>
  </a>

  <a href="/unsafe_home">
    <div class="card link-card">
      <%= image_tag("kindred_place.png", class: "card-img-top" ) %>
      <p>Sexual Violence/Unsafe Home Environment</a>
    </div>
  </a>
</div>