<div class='vw-100 vh-100 d-flex align-items-center justify-content-center'>
  <span>
    <button type="button" class="btn btn-light toggle-language">
      <a href="/covid_resources">In English</a>
    </button>
  </span>
  <h1>Recursos durante COVID-19</h1>
  <p class='lead'>recursos y oportunidades de COVID-19</p>
  <hr class='my-4' />
</div>
<div class="card-box">
  <a href="/depressed_lonely_anxious/es">
    <div class="card link-card">
      <%= image_tag("healthy_minds.png", class: "card-img-top" ) %>
      <p>Se siente Deprimido, Solo o Ancioso?</a>
    </div>
  </a>

  <a href="/education/es">
    <div class="card link-card">
      <%= image_tag("mem_communiversity.jpg", class: "card-img-top" ) %>
      <p>Ayuda escolar</a>
    </div>
  </a>

  <a href="/legit_info/es">
    <div class="card link-card">
      <%= image_tag("medical_resources.jpg", class: "card-img-top" ) %>
      <p>Informacion legitima sobre COVID-19</a>
    </div>
  </a>

  <a href="/internet_tech/es">
    <div class="card link-card">
      <%= image_tag("Free_Internet.png", class: "card-img-top" ) %>
      <p>Internet/Tecnología</a>
    </div>
  </a>

  <a href="/undocumented_resources/es">
    <div class="card link-card">
      <%= image_tag("recursos_en_espanol.png", class: "card-img-top" ) %>
      <p>Recursos para indocumentados</a>
    </div>
  </a>

  <a href="/lgbt/es">
    <div class="card link-card">
      <%= image_tag("prysm_youth_group.jpg", class: "card-img-top" ) %>
      <p>Recursos LGBTQ +</a>
    </div>
  </a>

  <a href="/unsafe_home/es">
    <div class="card link-card">
      <%= image_tag("CasaLuz.png", class: "card-img-top" ) %>
      <p>Violencia Sexual/Entorno Familiar Inseguro</a>
    </div>
  </a>

  <a href="/food_water/es">
    <div class="card link-card">
      <%= image_tag("901_Ummah.png", class: "card-img-top" ) %>
      <p>Ayuda para los problemas en casa</a>
    </div>
  </a>
</div>