<% resources.each do |resource| %>
  <div class="resourceRow pb-3">
    <div class="resourceImage">
      <%= image_tag("#{resource.image}") %>
    </div>
    <div class="resourceInfo">
      <h2><%= resource.name %></h2>
      <h4>What is it?<%= resource.about %></h4>
      <p>Details: <%= resource.details %></p>
      <p>Notes from the suggester: <%= resource.notes %></p>
      <p>Go here to learn more: <a href="<%= resource.link %>" target="_blank"><%= resource.link_text %></a></p>
    </div>
  </div>
<% end %>