<% resources.each do |resource| %>
  <div class="resourceRow pb-3">
    <div class="resourceImage">
      <%= image_tag("#{resource.image}") %>
    </div>
    <div class="resourceInfo">
      <h2><%= resource.name %></h2>
      <% if resource.about.present? %>
        <h4>What is it? <span><%= resource.about %></h4>
      <% end %>
      <% if resource.details.present? %>
        <h4>Details: <span><%= resource.details %></span></h4>
      <% end %>
      <% if resource.notes.present? %>
        <h4>Notes from the suggester: <span><%= resource.notes %></span></h4>
      <% end %>
      <% if resource.link.present? %>
        <h4>Go here to learn more: <a href="<%= resource.link %>" target="_blank"><%= resource.link_text %></a></h4>
      <% end %>
    </div>
  </div>
<% end %>