<!DOCTYPE html>
<html>
  <head>
    <title>YanMemphis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="contentContainer">
      <div class="yanNavbar">
        <div class="siteTitle">
          <%= link_to 'Juventud respondiendo al COVID-19', "/" %>
        </div>
        <ul>
          <li><a class="navbarText" href="mailto:educationjustice@bridgesusa.org" target="_blank">Contáctenos</a></li>
          <!-- <li><a class="navbarText" href="/covid_resources/es">Recursos</a></li> -->
        </ul>
      </div>
      <div class="mainContent">
        <%= yield %>
      </div>
    </div>
    <div class="yanFooter">
      <p class="yanFooterText">CREADO POR BRIDGE BUILDERS CHANGE</p>
    </div>
  </body>
</html>
